.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* portfolio.css */
.portfolio1 {
  font-family: 'Open Sans', sans-serif;
}

.img1 {
  vertical-align: middle;
  margin-left: 1%;
}

.img2 {
  vertical-align: middle;
  margin-left: 52%;
}

.block {
  background: linear-gradient(#9B59B6, #8E44AD);
  background-size: 100% 100%;
  /* width: 100%; */
  height: 664px;
  /* overflow: hidden; */
  margin-top: -23px;

}

body {
  overflow-x: hidden;
}

.img3 {
  height: 24px;
  width: 28px;
  vertical-align: middle;
}

.img4 {
  height: 16px;
  width: 22px;
  vertical-align: middle;
}

.img26 {
  height: 15px;
  width: 15px;
  vertical-align: middle;
}

.c2 {
  vertical-align: middle;
  text-decoration: none;
}

.img5 {

  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.c1 {
  vertical-align: middle;
  text-decoration: none;
  color: #F5F5F5;
}

.ss {
  vertical-align: middle;
  text-decoration: none;
}

.nav {
  color: white;
  padding-top: 80px;
}

.container1 {
  height: 8%;
  width: 22%;
  margin-left: 67%;
  color: white;
  margin-top: -29px;
  letter-spacing: 1px;
  font-size: 16px;
  text-decoration: none;
}

.a1 {
  margin-left: 11%;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.a {
  letter-spacing: 1px;
  text-decoration: none;
}

.a2 {
  color: white;
  text-decoration: none;
  margin-top: -30%;
  font-size: 14px;
}

.a3 {
  color: white;
  text-decoration: none;
  margin-top: 9px;
  font-size: 14px;
}

.s1 {
  color: #FFBB00;
  font-size: 17px;
}

.s {
  font-size: 27px;
  vertical-align: middle;
  display: inline-block;
}

.container2 {
  height: 40%;
  width: 40%;
  margin-left: 13%;
  padding-top: 13%;

}

.p1 {
  color: white;
  font-size: 16px;
  letter-spacing: 3px;
}

.a {
  color: white;
}

.btn1 {
  height: 17%;
  width: 25%;
  border-radius: 2px;
  color: #8E44AD;
  margin-right: 14px;
  font-size: 14px;
  line-height: 19px;
  background: white;
  border: none;
  position: relative;
  padding-bottom: 7px;
  padding-top: 8px;
}

.btn2 {
  height: 17%;
  width: 25%;
  border-radius: 2px;
  color: #8E44AD;
  margin-right: 14px;
  font-size: 14px;
  line-height: 19px;
  background: white;
  border: none;
  position: relative;
  padding-bottom: 7px;
  padding-top: 8px;
}

.btn3 {
  height: 17%;
  width: 25%;
  border: none;
  color: white;
  background-color: none;
  font-size: 16px;
}

.nav1 {
  overflow: hidden;
  background-color: white;
  position: relative;
  width: 20%;
  height: 12%;
  margin-left: 40%;
  /* box-shadow: 1px 1px #ccc; */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: 39px;
  padding-top: 1%;
  color: #8E44AD;
  letter-spacing: 1px;
  vertical-align: center;
}

.img6 {
  margin-left: 66px;
  height: 25px;
  width: 30px;
  vertical-align: middle;
}

.c3 {
  vertical-align: middle;
}

.img7 {
  margin-left: 121px;
  height: 43px;
  width: 30px;
  padding-top: 8px;
}

.img27 {
  height: 12px;
  width: 20px;
}

.img28 {
  vertical-align: middle;
}

.img29 {
  height: 23px;
  vertical-align: middle;
}

.img30 {
  height: 16px;
  width: 19px;
  vertical-align: middle;
}

/* .section2 {
  margin-top: 10%;
} */

.img8 {
  width: 60%;
  height: 320px;
  background-image:
    linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)),
    url("http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg");
  background-repeat: no-repeat;
  background-size: 60%, 60%;
  margin-left: 12%;
  margin-top: 15%;
  border-radius: 2px;

}

.heading1 {
  height: 80%;
  width: 30%;
  margin-left: 51%;
  margin-top: -23.9%;
  font-size: 15px;
  line-height: 23px;
}

/* .block2 {
  width: 90%;
  height: 60%;
} */

.s2 {
  color: Solid rgba(95, 92, 92, 0.6);
  font-size: 13px;
  font-weight: 500;
  height: 7%;
  width: 5%;

}

.img9 {
  width: 60%;
  height: 320px;
  background-image:
    linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)),
    url("http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg");
  background-repeat: no-repeat;
  background-size: 60%, 60%;
  border-radius: 2px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: blur(1px);
  margin-left: 26%;
  margin-top: -2%;
}


.heading2 {
  height: 80%;
  width: 29%;
  margin-left: 13%;
  font-size: 15px;
  margin-top: -23.5%;
  line-height: 23px;
  color: black;
}

.block3 {
  width: 90%;
  height: 60%;
  margin-top: 15%;
}

.s3 {
  color: Solid rgba(97, 89, 89, 0.6);
  font-size: 13px;
  font-weight: 500;

}

.img10 {
  position: absolute;
  margin-left: 54%;
  padding-top: 10%;
  height: 2%;
  width: 2%;
  color: #F5F5F5;
}

.heading3 {
  margin-left: 51%;
  /* padding-top: 100px; */
  color: white;
  height: 2%;
  width: 12%;
  font-size: 13px;
  padding-top: 12%;
  text-decoration: none;
  position: absolute;
}

.block4 {
  background-size: 100% 100%;
  height: 180px;
  background: #F5F5F5;
  margin-top: 10%;

}

.image {
  float: left;
  margin-left: 9%;
  margin-top: 4%;
}

.img11,
.img12,
.img13,
.img14,
.img15,
.img16,
.img17 {
  float: left;
  margin-left: 75px;
}

.section3 {
  margin-top: 14%;
}

.img18 {
  margin-left: 42%;
  height: 20px;
  width: 30px;
  /* margin-right: 5px; */
  vertical-align: middle;
}

.heading4 {
  color: #8E44AD;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 20px;
  vertical-align: middle;

}

.box1 {
  height: 35px;
  width: 20%;
  background-color: rgba(142, 68, 173, 0.2);
  border: none;
  margin-left: 27%;
  margin-top: 6%;
  font-size: 13px;
  padding-left: 20px;
}

.box2 {
  height: 35px;
  width: 20%;
  background-color: rgba(142, 68, 173, 0.2);
  border: none;
  margin-left: 1%;
  margin-top: 6%;
  font-size: 13px;
  padding-left: 20px;
}

.f2 {
  width: 42.5%;
  height: 150px;
  background-color: rgba(142, 68, 173, 0.2);
  margin-top: 2%;
  margin-left: 27%;
  border: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  /* font-weight: 700; */
  padding-left: 20px;
  padding-top: 15px;
}

.btn4 {
  width: 44.2%;
  height: 35px;
  background-color: #8E44AD;
  margin-left: 27%;
  border: none;
  margin-top: 15px;
  color: #F5F5F5;
  font-size: 14px;
}

.foot {
  margin-top: 10%;
  margin-left: 22%;
  padding-bottom: 31px;
}

.img19 {
  margin-left: 7%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.img20 {
  margin-left: 7%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.img21 {
  margin-left: 7%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.img22 {
  margin-left: 7%;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.img23 {
  height: 17px;
  width: 17px;
}

.f3 {
  color: #0077B5;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.f4 {
  color: #181717;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.f5 {
  color: #3B5998;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.f6 {
  color: #1DA1F2;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.final {
  margin-top: 15%;
  margin-left: 30%;
}

.f7 {
  color: #8E44AD;
  font-size: 14px;
  font-weight: 500;
}

.s1 {
  height: 62px;
  width: 62px;
}

.s2 {
  height: 47px;
  width: 47px;
  text-decoration: none;
  color: #181717;
}

.s3 {
  height: 58px;
  width: 58px;
}

.s4 {
  height: 40px;
  width: 80px;
  margin-top: 15px;
}

.s5 {
  height: 58px;
  width: 65px;
}

.s6 {
  height: 70px;
  width: 160px;
}

.s7 {
  height: 90px;
  width: 120px;
  margin-top: -15px;
}

.top1 {
  font-size: 10px;
  margin-left: 14px;
  font-weight: 900;
}

@media only screen and (max-width:800px) {

  /* For tablets: */
  .block {
    height: 753px;
    width: 100%;
  }

  .container1 {
    height: 8%;
    width: 41%;
    margin-left: 50%;
  }

  .a1 {
    margin-left: 6%;
  }

  .container2 {
    height: 40%;
    width: 60%;
    margin-left: 11%;
    padding-top: 22%;
  }

  .nav1 {
    width: 20%;
    height: 9%;
    margin-left: 40%;
    /* box-shadow: 1px 1px #ccc; */
    margin-top: 94px;
    padding-top: 2%;
    text-align: center;
    letter-spacing: 1px;
    vertical-align: center;
  }

  .img6 {
    margin-left: 4px;
  }

  .img7 {
    margin-left: 4px;
    height: 35px;
    width: 30px;
    padding-top: -96px;
  }

  .img8 {
    width: 70%;
    height: 232px;
    margin-left: 27%;
  }

  .heading1 {
    height: 80%;
    width: 45%;
    margin-left: 27%;
    margin-top: 8%;
    font-size: 15px;
    line-height: 23px;
  }

  .img9 {
    width: 70%;
    height: 232px;
    background-image: -webkit-linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)), url(http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg);
    background-image: linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)), url(http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg);
    background-repeat: no-repeat;
    background-size: 60%, 60%;
    border-radius: 2px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    margin-left: -1%;
    margin-top: -2%;
  }

  .heading2 {
    height: 80%;
    width: 45%;
    margin-left: 27%;
    margin-top: 8%;
    font-size: 15px;
    line-height: 23px;
  }

  .heading3 {
    margin-left: 15%;
    padding-top: -97px;
    color: white;
    margin-top: -248px;
    height: 2%;
    width: 29%;
    font-size: 13px;
    /* padding-top: 31%; */
    text-decoration: none;
    position: absolute;
  }

  .heading4 {
    font-size: 18px;
  }

  .img10 {
    position: absolute;
    margin-left: 22%;
    padding-top: 8%;
    margin-top: -264px;
    height: 2%;
    width: 2%;
    color: #F5F5F5;
  }

  .block4 {
    background-size: 100% 100%;
    height: 235px;

  }

  .image {
    float: left;
    margin-left: 4%;
    margin-top: 4%;
  }

  .img11,
  .img12,
  .img13,
    {
    float: left;
    margin-left: 100px;
  }

  .img14 {
    float: left;
    margin-left: 100px;
  }

  .img15 {
    float: left;
    margin-left: -490px;
    margin-top: 100px;
  }

  .img16 {
    float: left;
    margin-left: -350px;
    margin-top: 95px;
  }

  .img17 {
    float: left;
    margin-left: 80px;
    margin-top: 40px;
  }

  .img18 {
    margin-left: 38%;
  }

  .box1 {
    width: 19%;
  }

  .box2 {
    width: 19%;
  }

  .f2 {
    width: 41.5%;
    font-family: 'Open Sans', sans-serif;
  }

  .btn4 {
    width: 44.5%;
  }

  .foot {
    margin-top: 10%;
    width: 30%;
    margin-left: 33%;
    height: 10%;
    padding-bottom: 31px;
  }

  .img20 {
    margin-left: 16%;
  }

  .img22 {
    margin-left: 12%;
  }

  .img23 {
    vertical-align: middle;
  }

  .final {
    margin-top: 20%;
  }
}

@media only screen and (max-width:500px) {
  .block {
    max-width: 100%;
    height: 664px;
    /* width: 100%; */
    overflow: hidden;
  }

  .nav {
    padding-top: 48px;
  }

  .img7 {
    display: none;
  }

  .a1 {
    margin-left: -4%;
    color: white;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .a2 {
    color: white;
    text-decoration: none;
    margin-top: -30%;
    font-size: 9px;
  }

  .container1 {
    height: 8%;
    width: 75%;
    margin-top: -23px;
    margin-left: 40%;
  }

  .a3 {
    color: white;
    text-decoration: none;
    margin-top: 9px;
    font-size: 9px;
  }

  .img2 {
    vertical-align: middle;
    margin-left: 43%;
  }

  .container2 {
    height: 40%;
    width: 66%;
    margin-left: 21%;
    padding-top: 16%;
  }

  .img3 {
    height: 40px;
    width: 30px;
    margin-left: -6px;
    vertical-align: middle;
  }

  .s {
    font-size: 37px;
    vertical-align: middle;
    display: inline-block;
  }

  .btn1 {
    height: 7%;
    width: 42%;
    font-size: 12px;
    /* margin-left: -39px; */
  }

  .btn2 {
    height: 17%;
    width: 39%;
    font-size: 12px;
    margin-right: 22px;
  }

  .btn3 {
    letter-spacing: 1px;
    font-size: 14px;
  }

  .nav1 {
    width: 38%;
    height: 9%;
    margin-left: 28.5%;
    margin-top: 176px;
    padding-top: 2%;
    text-align: center;
    letter-spacing: 1px;
    vertical-align: center;
  }

  .c3 {
    vertical-align: middle;
    font-size: 12px;
  }

  .img5 {
    height: 20px;
    width: 24px;
    margin-top: 5px;
  }

  .img6 {
    margin-left: -1px;
    height: 25px;
    width: 17px;
    vertical-align: middle;
  }

  .img8 {
    width: 74%;
    height: 115px;
    margin-left: 25%;
  }

  .heading1 {
    height: -11%;
    width: 44%;
    margin-left: 27%;
    margin-top: 8%;
    font-size: 8px;
    line-height: 1.2em;
  }

  .s2 {
    height: 47px;
    width: 47px;
    text-decoration: none;
    color: #181717;
    font-size: 9px;
  }

  .img9 {
    width: 76%;
    height: 118px;
    background-image: -webkit-linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)), url(http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg);
    background-image: linear-gradient(rgba(195, 0, 255, 0.45), rgba(116, 23, 116, 0.45)), url(http://www.ontwerpmijndomein.nl/images/blog/BlogWebsiteRedesign.jpg);
    background-repeat: no-repeat;
    background-size: 60%, 60%;
    border-radius: 2px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -webkit-filter: blur(1px);
    filter: blur(1px);
    margin-left: -5%;
    margin-top: -7%;
  }

  .heading2 {
    height: -11%;
    width: 44%;
    margin-left: 26%;
    margin-top: 8%;
    font-size: 8px;
    line-height: 1.2em;
  }

  .s3 {
    height: 47px;
    width: 47px;
    text-decoration: none;
    color: #181717;
    font-size: 9px;
  }

  .heading3 {
    margin-left: 11%;
    padding-top: -97px;
    color: white;
    margin-top: -115px;
    height: 2%;
    width: 29%;
    font-size: 9px;
    text-decoration: none;
    position: absolute;
  }

  .img10 {
    position: absolute;
    margin-left: 20%;
    padding-top: 8%;
    margin-top: -133px;
    height: 4%;
    width: 4%;
    color: #F5F5F5;
  }

  .block4 {
    background-size: 100% 100%;
    height: 139px;
  }

  .image {
    float: left;
    margin-left: 2%;
    margin-top: 4%;
  }

  .s1 {
    height: 40px;
    width: 40px;
  }

  .s2 {
    height: 38px;
    width: 36px;
    text-decoration: none;
    color: #181717;
    font-size: 9px;
  }

  .top1 {
    font-size: 7px;
    margin-left: 11px;
    margin-bottom: -4px;
    font-weight: 1000;
  }

  .s3 {
    height: 36px;
    width: 34px;
  }

  .s4 {
    height: 32px;
    width: 62px;
  }

  .s5 {
    height: 39px;
    width: 40px;
  }

  .s6 {
    height: 44px;
    width: 84px;
  }

  .s7 {
    height: 62px;
    width: 70px;
    margin-top: -15px;
  }

  .img11,
  .img12,
  .img13 {
    float: left;
    margin-left: 10%;
  }

  .img14 {
    float: left;
    margin-left: 34px;
    margin-top: -10px;
  }

  .img15 {
    float: left;
    margin-left: -263px;
    margin-top: 62px;
  }

  .img16 {
    float: left;
    margin-left: -184px;
    margin-top: 58px;
  }

  .img17 {
    float: left;
    margin-left: 27px;
    margin-top: 22px;
  }

  .img18 {
    margin-left: 31%;
    height: 14px;
  }

  .heading4 {
    font-size: 12px;
  }

  .box1 {
    width: 58%;
    height: 24px;
    font-size: 12px;
    margin-left: 19%;
  }

  .box2 {
    width: 58%;
    height: 24px;
    font-size: 12px;
    margin-left: 19%;
    margin-top: 7px;
  }

  .f2 {
    width: 57%;
    height: 110px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 19%;
    font-size: 12px;
  }

  .btn4 {
    width: 63.1%;
    height: 24px;
    margin-left: 19%;
    font-size: 12px;
    margin-top: 4px;
  }

  .foot {
    margin-top: 6%;
    width: 49%;
    margin-left: 24%;
    height: 10%;
    font-size: -13px;
    padding-bottom: 32px;
  }

  .img19,
  .img20,
  .img21,
  .img22 {
    height: 14px;
    width: 14px;
  }

  .f3,
  .f4,
  .f5,
  .f6 {
    font-size: 11px;
  }

  .f7 {
    color: #8E44AD;
    font-size: 11px;
    font-weight: 500;
    vertical-align: middle;
  }

  .img23 {
    height: 14px;
    width: 14px;
    vertical-align: middle;
  }

  .img27 {
    height: 9px;
    width: 17px;
    vertical-align: middle;
  }

  .img28 {
    height: 10px;
    width: 15px;
    vertical-align: middle;
  }

  .img29 {
    height: 18px;
    vertical-align: middle;
  }

  .img30 {
    height: 15px;
    width: 12px;
    vertical-align: middle;
  }

  .s2 {
    height: 38px;
    width: 36px;
    text-decoration: none;
    color: #181717;
    font-size: 9px;
    vertical-align: middle;
  }
}